.item_detail_container {
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.item_detail_img {
    position: absolute;
    height: 400px;
    transition: filter 0.2s, height 0.2s;
    filter: drop-shadow(0rem 0.5rem 1.5rem black);
    margin:0;
}
.item_detail_img:hover {
    margin: 0;
    position:absolute;
    height: 500px;
    filter: drop-shadow(0rem 1rem 1rem rgba(112, 112, 112, 0.478));
}
.Btnes {
    translate: 100px 100px;;
    grid-area: 2 / 5 / 4 / 6;
}
.item_detail_img-container {
    grid-area: 1 / 1 / 6 / 7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item_detail_desciprion--box {
    grid-area: 3 / 1 / 6 / 3;
    padding-left: 4rem;
}
.item_detail_cart-button{
    font-family: "Fjalla One", sans-serif;
    color: white;
    width: 11rem;
    margin-top: 1rem;
    font-size: 1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color: #383838;
    border: 1px solid transparent ;
    border-radius: 1.5rem;
    padding: 0.5rem 1rem;
}
.fi-rr-shopping-cart-add{
    font-size: 1.5rem;
}
@media screen and (max-width: 768px){
    .item_detail_container{
        display: flex;
        width: 80%;
        flex-direction: column;
        padding: 0;
        margin: 1rem 0rem;
    }
    .item_detail_img {
        position: static;
        height: 400px;
        transition: filter 0.2s, height 0.2s;
        filter:none;
        margin:0;
    }
    .item_detail_img:hover{
        margin: 0;
        height: 400px;
        position:static;
        filter: none;
    }
    .Btnes {
        translate: 6rem 0px;
        grid-area: 2 / 5 / 4 / 6;
    }
}
