@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Fjalla+One&family=Quicksand:wght@300..700&display=swap');

/*
font-family: "Climate Crisis", sans-serif;
font-family: "Fjalla One", sans-serif;
font-family: "Quicksand", sans-serif;
*/

.cart--container{
    color: white;
    padding: 5px;
    border-radius: 50%;
    text-decoration: none;
}

.Carrito--Widget {
    text-decoration: none;
    color: white;
    font-family: "Quicksand", sans-serif;
}
.Carrito--Widget::after{
    text-decoration: none;
}

.Carrito--widget span{
    font-size: 1rem;
    font-family: "Quicksand",sans-serif;
    translate: -0.7rem 0rem;
    text-decoration: none;
}
#CartLogo{
    width: 40px;
    transition: 0.5s ease-out;
}
#CartLogo::before{
    translate: 5px -5px;
}
#CartLogo:hover{
    cursor: pointer;
    translate: -5px 5px;
}
.cantidad{
    color:white;
    text-decoration: none;
}
.cantidad::after{
    text-decoration: none;
}