@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Fjalla+One&family=Quicksand:wght@300..700&display=swap');

/*
font-family: "Climate Crisis", sans-serif;
font-family: "Fjalla One", sans-serif;
font-family: "Quicksand", sans-serif;
*/
*{
    text-decoration: none;
}
.cart--container{
    color: white;
    padding: 5px;
    border-radius: 50%;
}

.Carrito--Widget{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    border: 1px solid white;
    box-shadow:0.3rem 0.3rem 0 black;
    overflow: hidden;
}

.Carrito--Widget a {
    z-index: 0;
    margin: 0;
    translate: 6px 2px;
}
.Carrito--Widget i{
    font-size: 1.5rem;
    translate: 0.5rem 0rem;
    color: black;
}
.Carrito--Widget span{
    margin: 0;
    font-size: 0.7rem;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-family: "Quicksand", sans-serif;
    translate: -5px 10px;
    background-color: rgb(255, 162, 0);
    padding: 0rem 0.3rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
}

#CartLogo{
    width: 30px;
    transition: 0.5s ease-out;
}

#CartLogo:hover{
    cursor: pointer;
    translate: 0px -2px;
    
}
