

.layout--container {
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header__wrapper {
    background-color: #303030;
    display: flex;
    justify-content: space-around;
}

.main--container {
    flex: 1
}