@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Fjalla+One&family=Quicksand:wght@300..700&display=swap');

/*
font-family: "Climate Crisis", sans-serif;
font-family: "Fjalla One", sans-serif;
font-family: "Quicksand", sans-serif;
*/

.Navbar{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 0rem 1rem;
    background-color: #383838;
    & .Navi{
        box-sizing: border-box;
        display: flex;
        align-content: flex-start;
        align-items: center;
        justify-content: space-between;
        & .Carrito{
            display: flex;
            align-items: end;
        }
        & .ListadoDeCategorias{
            display:flex;
            list-style: none;
            color: white;
            & a{
                font-family: "Quicksand", sans-serif;
                font-weight: 400;
                padding: 0.5rem;
                color: #ffffff;
                text-decoration: none;
            }
        }
    }
}