.navbar__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Navbar--Right{
    display: flex;
    align-items: center;
    
}
.carrito{
    text-decoration: none;
}