@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Fjalla+One&family=Quicksand:wght@300..700&display=swap');

/*
font-family: "Climate Crisis", sans-serif;
font-family: "Fjalla One", sans-serif;
font-family: "Quicksand", sans-serif;
*/

body{
    margin: 0;
    font-family:"Fjalla One",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #383838;
    background-color: #ffffff;
}
#root{
    margin:0;
}
.Category--Container{
    display: flex;
    background-color: black;
    width: 100%;
    justify-content: center;
}
.Category--Container__Button{
    background-color: black;
    color: white;
    border: none;
    margin: 0 1rem;
    font-family: "Quicksand", sans-serif;
}
.Category--Container__Button:hover{
    color: rgb(174, 0, 255);
}