@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Fjalla+One&family=Quicksand:wght@300..700&display=swap');

/*
font-family: "Climate Crisis", sans-serif;
font-family: "Fjalla One", sans-serif;
font-family: "Quicksand", sans-serif;
*/

body {
    margin: 0;
    font-family: "Fjalla One", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #383838;
    background: #F40667;
    background: radial-gradient(at left top, #F40667, #F4C73B);
}

#root {
    margin: 0;
}

.Category--Container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1rem;
}

.Category--Container__Button {
    font-size: 1rem;
    background-color: transparent;
    color: black;
    border: none;
    margin: 0.5rem 1rem;
    font-weight: 700;
    font-family: "Quicksand", sans-serif;
}

.Category--Container__Button:hover {
    color: #ffffff;
}

.Items {
    display: flex;
    justify-content: center;
}

.cargando {
    display: flex;
    justify-content: center;
}


.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}